body {
  text-align: center;
  background: #2a2a28 url(img/nobg?.png);
color: #f9b64c;
}
/// 小孝 小 携 啸校 ヰヰヰヰヰヰヰヰ
h1,p {
text-shadow: 2px 2px #7d5b24;
font-size: 68px;
}
h2 {
color: #FFFFFF ; text-shadow: 3px 3px #696969;
}
h3 {
color: #FFFFFF ; text-shadow: 3px 3px #696969;
}
/// 小孝 小 携 啸校 ヰヰヰヰヰヰヰヰ
p {
color: #FFFFFF ; text-shadow: 3px 3px #696969;
}







hr {
color: #575753; height:3px" width="75%";
}
@font-face {
font-family: pixel;
src: url(fonts/vga8.ttf);
}
h1,h2,h3,h4,a,p,td,menu,marquee {
font-family: pixel, 'vga8', cursive;
}



